@value tokens: "../../styles/tokens.module.css";
@value title-font from tokens;

.title_wrapper {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
}

.title {
  font-family: title-font;
  font-size: 8rem;
}

.subtitle{
  composes: subtitle from "../../styles/typo.module.css";
}