@value tokens: "../../styles/tokens.module.css";
@value font-base, background-color, title-font, bodyCopy-font from tokens;

.hidden {
  display: none;
}

.overlay {
  background-color: background-color;
}

.manual {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  column-gap: 3rem;
  grid-template-areas:  
  "title title"
  "destination proces"
  "narrates narrates"
  "circle circle"
  ;
  padding: 3rem;
}

.page_title {
  composes: page_title from "../../styles/typo.module.css";
  grid-area: title;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
  
.subtitle {
    composes: subtitle_bold from "../../styles/typo.module.css";
}
  
.bodycopy {
    composes: bodyCopy from "../../styles/typo.module.css";
}

.destination {
    grid-area: destination;
}

.narrates {
    grid-area: narrates;
}

.image_proces_wrapper {
  grid-area: proces;
  place-self: center;

  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
}

.image_proces {
  place-self: center;
  grid-row: 1/4;
  grid-column: 1;
  place-self: center;
}

.image_proces_title {
  composes: page_title from "../../styles/typo.module.css";
  grid-row: 1;
  grid-column: 1;
  place-self: center;
}

.image_proces_bodycopy {
  composes: bodyCopy from "../../styles/typo.module.css";
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
}

.image_start {
  composes: bodyCopy from "../../styles/typo.module.css";
  font-weight: bold;
  grid-row: 3;
  grid-column: 1;
  justify-self: start;
  width: 5rem;
}

.image_end {
  composes: bodyCopy from "../../styles/typo.module.css";
  font-weight: bold;
  grid-row: 3;
  grid-column: 1;
  justify-self: end;
  width: 5rem;
  text-align: right;
}

.image_circle {
  grid-area: circle;
  padding-bottom: 2rem;
  place-self: center;
}

.page_title_roles {
  composes: page_title from "../../styles/typo.module.css";
  text-align: center;
  grid-column: 1/4;
}

.roles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  column-gap: 3rem;  
  margin: 3rem;
}

.role_wrapper {
  max-width: 20rem;
  /* text-align: center; */
  display: flex;
  flex-flow: column-reverse;
  align-self: start;
  margin-bottom: 2rem;
}

.subtitle {
  composes: subtitle_bold from "../../styles/typo.module.css";
}

.bodycopy {
  composes: bodyCopy from "../../styles/typo.module.css";
}

.bodycopy_italic {
  composes: bodycopy_italic from "../../styles/typo.module.css";
}

.role_image {
  margin-bottom: 2rem;
}

