@value tokens: "../../../styles/tokens.module.css";
@value colorRed, title-font from tokens;


.buttonContainer {
  background-image: url("./btnNewJourneyBackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20.5rem;
  height: 24rem;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* margin: 2rem; */
}

.button {
  composes: button_title from "../../../styles/typo.module.css" 
}