@value tokens: "../../styles/tokens.module.css";
@value ultralight-color, font-base, gray-color, success-color from tokens;

.priceList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
  grid-auto-rows: min-content;
}

.add {
  composes: addButton from "../../styles/uiControls.module.css";
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 4rem;
}
