.gridbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.laadknop_text{
    composes: button_title from "../../styles/typo.module.css";
}




.title {
    composes: page_title from "../../styles/typo.module.css";
    padding-top: 1rem;
   
}

.pictures{
    grid-area: 1 / 2 / 3 / 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    
}
.driehoek{
  margin-top: -3rem;
  z-index: -1;
}
.koepel{
    grid-area: 1 / 2 / 3 / 3;
    z-index: -2;
    margin-right: 10rem;
}
.deur{
    grid-area: 3 / 2 / 4 / 3;
    z-index: 1;
    
}
.loadingdiv{
    margin-top: -10rem;
}
.loading
{
    margin-top: -30rem;
    z-index: -1;
    grid-area: 3 / 2 / 4 / 3;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @-ms-keyframes spin {
    from {
      -ms-transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.hidden
{
    composes: visually-hidden from "../../styles/index.css"
}
.leftDoor
{
    margin-right: -0.4rem;
    position: relative;
    animation: deurL 5s infinite;
}
    @keyframes deurL {
    from {right: 0px;}
    to {right: 80px;}
  }

  .rightDoor
{
    position: relative;
    animation: deurR 5s infinite;
}
@keyframes deurR {
    from {left: 0px;}
    to {left: 80px;}
  }
