.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  background-image: url("/assets/img/GAME/nameWorldBackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form_wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  background-image: url("/assets/img/GAME/nameWorld.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5rem 5rem;
}

.input {
  composes: input from "../../styles/Avatar.module.css";
}

.spanName {
  composes: span from "../../styles/Avatar.module.css";
  width: 11.5rem;
  padding-top: .5rem;
  padding-left: .5rem;
  margin-top: -.5rem
}

.labelWrapper {
  composes: labelWrapper from "../../styles/Avatar.module.css";
}

.world_title {
  composes: subtext from "../../styles/typo.module.css";
  margin-top: 1rem;
  max-width: 16rem;
  text-align: center;
}

.world_image{
  height: 33rem;
  place-self: center;
}

.button {
  composes: button from "../../styles/uiControls.module.css";
  background-color: rgba(255, 0, 0, 0);;
  background-image: url("/assets/img/BUTTONS/btnTheePot.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 10rem;
  height: 10rem;
}

.theepot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theepot p {
  font-weight: bold;
  font-size: 1.6rem;
  font-family: Helvetica Neue;
  margin-top: -1rem;
}

.title {
  padding-top: 10rem;
}

.btw {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  color: #E30613;;
  font-weight: bold;
  text-align: center;
}