

.rotation{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    animation: rotating 2s linear infinite;
}

.static{
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
}

.roles{
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

@keyframes rotating {
    from {

      transform: rotate(0deg);
    }
    to {

      transform: rotate(360deg);
    }
  }