@value tokens: "../../styles/tokens.module.css";
@value title-font from tokens;

.opening_screen_wrapper {
  composes: opening_screen_wrapper from "../../styles/launch.module.css";
  grid-template-columns: 25% 25% 25% 25% ;
  grid-template-rows: 65rem 20rem 1fr ;
  max-height: 100vh;
  overflow-y: hidden  
}
.title_wrapper {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  grid-row: 2;
  grid-column: 2 /4;
  place-self: start center;
  text-align: center;
}

.title {
  font-family: title-font;
  font-size: 8rem;
}

.subtitle{
  composes: subtitle from "../../styles/typo.module.css";
}

.image_sun {
  grid-row: 1;
  grid-column: 1 /5;
  place-self: center;

}

.button {
  place-self: start center;
  grid-row: 3;
  grid-column: 2/4;
}

.image_maskOne {
  grid-row: 2/4;
  grid-column: 1;
  place-self: start center;
}

.image_maskTwo {
  grid-row: 3;
  grid-column: 1 /3;
  place-self: center center;
}

.image_maskThree {
  grid-row: 3;
  grid-column: 3/5;
  place-self: end center;
}

.image_maskFour {
  grid-row: 2/4;
  grid-column: 4;
  place-self: start center;
  height: 60rem;
}