.circle_wrapper {
  width: 35rem;
  height: 35rem;
  background-image: url("/assets/img/BUTTONS/circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.mask_element {

  /* display: block; */
  position: absolute;
  z-index: 0;
  height: 20rem;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}



.buttonEdit {
  composes: button from "../../styles/uiControls.module.css";
  background-image: url("/assets/img/BUTTONS/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  align-self: end ;
  grid-row: 1;
  grid-column: 2;
  width: 4rem;
  z-index: 2;
}

.buttonDelete {
  composes: button from "../../styles/uiControls.module.css";
  background-image: url("/assets/img/BUTTONS/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  grid-row: 2;
  grid-column: 2;
  align-self: end;
  width: 4rem;
  z-index: 2;
}

.hidden {
  composes: visually-hidden from "../../styles/index.css"

}

/* .mask_name {
  composes: subtext from "../../styles/typo.module.css";
  padding-top: 1rem;
  font-weight: bold;
  text-transform: capitalize;
} */