.header {
  
}


.progres {
  composes: progres from "../../styles/ProcesBar.module.css";
}

.progresTitle {
  composes: progresTitle from "../../styles/ProcesBar.module.css";
}

.progresImg {
  composes: progresImg from "../../styles/ProcesBar.module.css";
}

.select {
  composes: select from "../../styles/ProcesBar.module.css";
  font-weight: bold;
  align-self: end;
  justify-self: center;
}

.choose {  
  composes: choose from "../../styles/ProcesBar.module.css";
}

.explore {
  composes: explore from "../../styles/ProcesBar.module.css";
}

.rotation{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    animation: rotating 10s linear infinite;
}

.static{
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
}

.roles{
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
}

.membersWrapper {
  display: flex;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

@keyframes rotating {
    from {

      transform: rotate(0deg);
    }
    to {

      transform: rotate(360deg);
    }
  }