.masks_wrapper {
  width: 43rem;
  height: 43rem;
  background-image: url("/assets/img/BUTTONS/circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}

.mask_element {
  display: block;
  position: absolute;
  z-index: 0;
}

.mask {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.mask_image {
  height: 15rem;
}

.mask_name {
  composes: subtext from "../../styles/typo.module.css";
  padding-top: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}
