@value tokens: "../../styles/tokens.module.css";
@value title-font from tokens;

.home_wrapper {
  padding: 3rem;
  display: grid;
  grid-template-rows: 1fr 2fr 4fr 1fr;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}

.worlds_wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  width: 100%;
}

.arrow {
  font-size: 5rem;
}

.homeButton {
  animation: float 4s infinite;
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  margin-bottom: 2.5rem;
}

.scrollwrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.homeClanInfo {
  font-family: title-font;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}