.home_wrapper {
  padding-top: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content:space-between ;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.worlds_wrapper {
  /* display: grid;
  grid-template-columns: repeat(30, 1fr) ;
  grid-template-rows: repeat(30, 1fr) ; */
  display: flex;
  flex-flow: row;
}