@value tokens: "./tokens.module.css";
@value font-base, gray-light-color, success-color, dark-color, this-is-bad-color from tokens;

.input {
  font-size: font-base;
  border: 0.1rem solid gray-light-color;
}

.name {
  composes: input;
  grid-area: name;
}

.price {
  composes: input;
  grid-area: price;
  width: 5ch;
}

.button {
  composes: button from "./uiControls.module.css";
}

.save {
  composes: button;
  grid-area: save;
  background-color: success-color;
  color: dark-color;
}

.cancel {
  composes: button;
  grid-area: cancel;
  background-color: gray-light-color;
}

.delete {
  composes: button;
  grid-area: delete;
  background-color: this-is-bad-color;
}
