@value tokens: "./tokens.module.css";
@value light-color, ultralight-color, background-color from tokens;

.opening_screen_wrapper {
  display: grid;
  background-image: url("/assets/img/BOOT/bootBG.svg");
  background-color: background-color;
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
}

