@value tokens: "./tokens.module.css";
@value light-color, ultralight-color from tokens;

.layout {
  margin: 0 auto;
  border: 1.8rem solid light-color;
  border-radius: 1rem;
  background: light-color;
  height: 100vh;
  display: grid;
  grid-template-rows: 15rem 1fr;
}
.content {
  padding: 2.5rem 2rem;
  background: ultralight-color;
  border-radius: 0 0 0.7rem 0.7rem;
  min-height: 33rem;
  padding-bottom: 11rem; /* make sure tabbar is always on bottom */
}
.contentNoSpace {
  padding: 0;
  padding-bottom: 9rem;
}

.card {
  background: ultralight-color;
  padding: 2rem;
  border-radius: 0.7rem;
}
