@value tokens: "./tokens.module.css";
@value font-base, title-font from tokens;

/* composes: page_title from "../../styles/typo.module.css"; */
.page_title {
  font-family: title-font;
  font-size: 4.5rem;
  /* text-transform: capitalize; */
}






.title {
  font-family: Roboto, sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.titleMini {
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0.7rem;
}
.paragraphs {
  font-size: font-base;
  line-height: 1.3;
  font-weight: 400;
}
.paragraphs p {
  margin: 1.4rem 0;
}
