@value tokens: "./tokens.module.css";
@value success-color, dark-color from tokens;

.textInput {
  flex: 1;
  border: none;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  border-bottom: 0.1rem solid white;
  outline: none;
  margin: 0 2rem;
}

.button {
  display: block;
  outline: none;
  border: 0;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 1.6rem;
}

.button:active {
  color: #fff;
  background-color: dark-color;
}

.addButton {
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  line-height: 1;
  padding-bottom: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: success-color;
}
